body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b0c4de; /* Greyish Blue */
    color: #333;
}

header {
    background-color: #228B22; /* Dark green */
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero Section Styling */
#hero {
    background-color: #4682b4; /* Steel Blue */
    color: white;
    text-align: center; /* Center text alignment */
    padding: 50px 20px;

   
}

#hero h2 {
    margin: 0;
    font-size: 2.5em; /* Reduced font size */
}

#hero p {
    font-size: 1.8em; /* Slightly smaller font size */
    margin-bottom: 15px; /* Reduced margin */
}

.btn {
    background-color: #fff;
    color: #228B22;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

#about, #services, #contact {
    padding: 20px 5px;
    background-color: #f0f8ff; /* Alice Blue */
}

h2 {
    font-size: 2em;
    margin-bottom: 8px;
}

.service-item {
    margin-bottom: 20px;
}

/* Gallery Section Styling */
#gallery {
    padding: 20px 5px;
    background-color: #f0f8ff; /* Alice Blue */
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    flex: 1 1 calc(25% - 20px); /* Adjusts to 4 columns */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive Gallery for smaller screens */
@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px); /* Adjusts to 2 columns */
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%; /* Single column */
    }
}

footer {
    background-color: #228B22; /* Dark green */
    color: white;
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    border: none;
    background-color: #228B22; /* Dark green */
    color: white;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #1e7a1e; /* Darker green */
}
